<!DOCTYPE html>
<html lang="en" ng-app="elbeat.app">
    <head>
        <base href="/">
     <!-- CSS -->
        <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-theme.min.css" />
        <link rel="stylesheet" href="assets/css/main.css" />
  </head>
  <body>
      <div class="menu">
          <div class=" container">
            <nav>

                    <div class="navbar-header">
                        <a class="navbar-brand" href="/">Home</a>
                        <a class="navbar-brand" href="/singles">Singles</a>
                    </div>
                    <ul class="nav navbar-nav navbar-right">
                        <!--<li><a href="/"><i class="glyphicon glyphicon-home"></i> {{'Home' | translate}}</a></li>
                        <li><a href="/single/index"><i class="glyphicon glyphicon-film"></i> {{'Singles' | translate}}</a></li>
                        <li><a href="/site/about"><i class="glyphicon glyphicon-tag"></i> {{'Artists' | translate}}</a></li>
                        <li><a href="/site/contact"><i class="glyphicon glyphicon-envelope"></i> {{'Login' | translate}}</a></li>
                        <li><a href="/site/contact"><i class="glyphicon glyphicon-envelope"></i> {{'Logout' | translate}}</a></li>-->
                    </ul>

            </nav>
          </div>
      </div>
    <div id="main" class="container" ng-view> <!--<h1>{{ 'TITLEq' | translate }}</h1>-->
            <div class="row">
                <div class="col-md-4">
                </div>
                <div class="col-md-8">
                </div>
            </div>
    </div>

    <footer ng-controller="PlayerController">
        <div class="volume">
            <input id="volume" type="text" />
        </div>
        <div class="container player">
            <div>
                <button ng-click="player.eventPlayPause();" ng-show="!player.played" type="button" class="btn btn-info btn-circle btn-lg fs25">
                    <span class="glyphicon glyphicon-play"></span>
                </button>
                <button ng-click="player.eventPlayPause();" ng-show="player.played" type="button" class="btn btn-info btn-circle btn-lg">
                    <span class="glyphicon glyphicon-pause"></span>
                </button>
                <div class="image">
                    <div class="bordered square52">
                        <img class="square46" src="{{player.image}}" alt="{{player.name | escapeHtml}}">
                    </div>
                </div>
            </div>
            <div class="right m5all">
                <button ng-click="player.eventMuteOnOff();" ng-show="player.muted" type="button" class="btn btn-info btn-circle btn-lg fs25 right">
                    <span class="glyphicon glyphicon-volume-off"></span>
                </button>
                <button ng-click="player.eventMuteOnOff();" ng-show="!player.muted" type="button" class="btn btn-info btn-circle btn-lg fs25 right">
                    <span class="glyphicon glyphicon-volume-up"></span>
                </button>
                <button type="button" class="btn btn-info btn-circle btn-lg right fs22">
                    <span class="glyphicon glyphicon-list"></span>
                </button>
                <button type="button" class="btn btn-info btn-circle btn-lg right fs24">
                    <span class="glyphicon glyphicon-option-horizontal"></span>
                </button>
                <button type="button" class="btn btn-info btn-circle btn-lg right fs24-2">
                    <span class="glyphicon glyphicon-floppy-save"></span>
                </button>
                <button type="button" class="btn btn-info btn-circle btn-lg right fs26">
                    <span class="glyphicon glyphicon-plus-sign"></span>
                </button>
            </div>
            <div class="center-content">
                <div class="time-line" id="time-line">
                    <div class="buffered" ng-click="player.rewind($event)" style="width: {{player.bufferedPercents}}%">
                        <div class="current" style="width: {{player.currentTimePercents}}%">

                        </div>
                    </div>
                </div>
                <div class="track-info">
                    <div>
                        <button ng-click="player.eventPrev();" type="button" class="btn btn-info btn-xs">
                            <span class="glyphicon glyphicon-fast-backward"></span>
                        </button>
                        <button ng-click="player.eventNext();" type="button" class="btn btn-info btn-xs margin-left5">
                            <span class="glyphicon glyphicon-fast-forward"></span>
                        </button>
                        <div class="time">
                            {{player.currentTime | formatTimer}}
                        </div>
                    </div>
                    <div class="time right margin-right10">
                        {{player.duration | formatTimer}}
                    </div>
                    <div class="name" id="marquee-track">
                        <span>
                            {{player.name}}
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <audio id="player"
               ng-timeupdate="player.update()"
               ng-progress="player.update()"
               ></audio>
    </footer>
     <!-- JS -->
      <!-- JQuery -->
      <script src="assets/jquery/jquery-2.2.0.min.js"></script>
      <script src="assets/jquery/bootstrap-slider.js"></script>
      <!-- End JQuery -->
      <!-- Angular-->
      <script src="assets/angular/angular.min.js"></script>
      <!-- Standard modules-->
      <script src="assets/angular/angular-route.min.js"></script>
      <script src="assets/angular/angular-media-events.js"></script>
      <script src="assets/angular/ui-bootstrap-custom-tpls-1.1.1.min.js"></script>
      <!-- Init -->
      <script src="app.js"></script>
      <!-- Modules -->
      <script src="assets/angular/angular-slugify.js"></script>
      <!-- Services -->
      <script src="services/player.js"></script>
      <!-- Filters -->
      <script src="filters/format-timer.js"></script>
      <script src="filters/escape-html.js"></script>
      <!-- Controllers -->
      <script src="controllers/index.js"></script>
      <script src="controllers/player.js"></script>
      <script src="controllers/singles.js"></script>


      <!-- End Angular-->

  <!--

  -->
  <!--<script src="models/single.js"></script>-->

  <!--<script src="assets/angular/angular-translate.min.js"></script>









  <!--<script src="models/player.js"></script>-->


  <!--<script src="controllers/single.js"></script>-->
  <!--<script src="controllers/player.js"></script>-->
  </body>
</html>